:root {
  --main-header-color: #299988;
  --sub-header-color: #44a080;
  --main--yellow: #ffc844;
  --main--white: #fff;
  --main--black: #000;
  --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

label {
  font: inherit;
}
